@media screen and (min-width: 350px) {
  .--change-wallet-account {
    margin-top: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }

  select {
    border: none;
    font-size: 1.9rem;
    outline: none;
    padding: 5px;
  }
}
@media screen and (min-width: 1030px) {
  .--change-wallet-account {
    display: flex;
    margin-top: -0.5rem;
    gap: 30px;
  }

  select {
    border: none;
    // margin-top: 4rem;
    font-size: 2.2rem;
    outline: none;
    padding: 5px;
  }
}
